Python is case sensitive language

In [2]:
name="tarun"
Name="tarun tomar"
print(name)
print(Name)

tarun
tarun tomar

Identation rule

In [3]:
age=32
if(age>23):
  print(age) ##the space is came own is own is called identation

32

Line continuation

In [4]:
total=1+2+3+4+5+\
4+5+6

print(total)

30

Multiple Statements on a single line

In [5]:
x=5;y=10;z=x+y
print(z)

15

Semantics in Python

In [6]:
##variable assignmet
age=21 ##kernel automatic detect that this is integer
name="tarun" ##same for this
type(age)
type(name)

str

Variables in Python

In [7]:
#use to assign the value,string,boolean
age=21
name="tarun"
is_married=False
print("age:" ,age)
print(name)
print(is_married)

age: 21
tarun
False

Data Types

In [8]:
age=32 #int
name="tarun" #string
is_married=False #boolean
height=6.2 #float

TypeCasting

In [9]:
result="hello"+str(5)
print(result)

hello5

Operator

In [10]:
#1 Arithmatic Operator
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

#2 Comparison Operators
a=10
b=5
print(a==b)
print(a is b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

#3 Logical Operators
a=True
b=False
print(a and b)
print(a or b)
print(not a)

15
5
50
2.0
0
100000
False
False
True
True
False
True
False
False
True
False

In [11]:
a=3
b=4
print(a is b)
print(a==b)

False
False

Printing hello world

In [12]:
print("hello world")

hello world

Sum

In [13]:
a=input("Enter a number : ")
b=input("Enter seocnd number : ")
print(int (a)+int (b))

188

** Input **

In [14]:
a=int(input("Enter a number : "))
print(a)

78

**String input **

In [15]:
a=str(input("Enter a string : "))
print(a)

iyu

**way-1 to write print **

In [16]:
a=int(input("Enter a number : "))
print("you enter number {} with your finger".format(a))

you enter number 88 with your finger

** way -2**

In [17]:
a=54
b=43
print(f"a is {a} and b is {b}")

a is 54 and b is 43

** all about string**

In [18]:
string =str("dulux")
print(string)
print(string[0:5])
print(len(string))
print(string.upper())
print(string.lower())
print(string.rstrip(":"))
# print(string.replace("powder"))
print(string.split("-"))

print(string.count("u"))
print(string.endswith("...."))
print(string.find("x"))

dulux
dulux
5
DULUX
dulux
dulux
['dulux']
2
False
4

** if else ka khel**

In [19]:
a=int(input("Enter your number : "))
if(a%2==0):
  print("the number is even")
elif(a%10==0):
  print("the number is divisble by 10")
else:
  print("the number is odd")

the number is odd

** match case ka khel**

In [20]:

a=int(input("Enter your number : "))
match a:
  case 0:
    print("thsi number is 0")
  case 4:
    print("this is number 4")
  case _:
    print("you typed other value then 0 and 4")

you typed other value then 0 and 4

** loop bhaiya **

In [21]:
range(5)

range(0, 5)

In [22]:
for i in range(5):
  print(i)

0
1
2
3
4

In [23]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [24]:
for i in range (6):
  for j in range(7):
   print(i,j)

0 0
0 1
0 2
0 3
0 4
0 5
0 6
1 0
1 1
1 2
1 3
1 4
1 5
1 6
2 0
2 1
2 2
2 3
2 4
2 5
2 6
3 0
3 1
3 2
3 3
3 4
3 5
3 6
4 0
4 1
4 2
4 3
4 4
4 5
4 6
5 0
5 1
5 2
5 3
5 4
5 5
5 6

In [25]:
range(1,10,1)

range(1, 10)

In [26]:
for i in range(1,6,2):
  print(i)

1
3
5

In [27]:
for i in range(6,1,-2):
  print(i)

6
4
2

string traversing

In [28]:
str="Tarun Tomar"
for i in str:
  print(i)

T
a
r
u
n

T
o
m
a
r

** while bro **

In [29]:
a=10
while(a>0):
  print(a)
  a=a-1 ## without condition it will be run infinte

10
9
8
7
6
5
4
3
2
1

Break statement & Continue

In [30]:
for i in range(10):

  if(i==3):
   continue

  if (i==2):
    print("this is pass")# at when i wanna print something at exact when the condtion meet without disturbing anything
    pass

  if(i==4):
    print("this one is inside the break if = ",i)
    break

  print(i) ## this one is inside the loop but outside the if and will check the above conditon and then print the value of i
print("Outside loop value of i =",i)## outside the loop so that mean,when the loop get end this will print the value of i,exact that time what the value of the i will be

0
1
this is pass
2
this one is inside the break if =  4
Outside loop value of i = 4

** nested loop**

In [31]:
for i in range(5):
  for j in range(2):
    print(f"this is i {i} and this is j {j}")

this is i 0 and this is j 0
this is i 0 and this is j 1
this is i 1 and this is j 0
this is i 1 and this is j 1
this is i 2 and this is j 0
this is i 2 and this is j 1
this is i 3 and this is j 0
this is i 3 and this is j 1
this is i 4 and this is j 0
this is i 4 and this is j 1

In [32]:
n=5
sum=0
for i in range(n+1):
  sum+=i
print(sum)

15

In [33]:
n=5
sum=0
count=1
while(count<=n):
  sum+=count
  count+=1

print(sum)

15

** all about List **
List is an ordered, mutable, and indexed collection that can store multiple items of different data types in a single variable, allowing duplicates, and is defined using square brackets []

In [34]:
l=["Tarun",1,2.5,6,7,8]
print(type(l))
print(l[0:3:2])
l[1:]="tarun"
print(l)

l.insert(2,"tomar")##insert tomar at index 2
print(l)

l.remove("t") ##first occurance of the element
print(l)

l.pop() ##last element will be remove
print(l)

index=l.index("tomar")
print(index)

print(l.count("a"))

l.sort()
print(l) ## for sorting

l.reverse()## for reversing
print(l)

l.clear() ## for removing all the items present in the list
print(l)

<class 'list'>
['Tarun', 2.5]
['Tarun', 't', 'a', 'r', 'u', 'n']
['Tarun', 't', 'tomar', 'a', 'r', 'u', 'n']
['Tarun', 'tomar', 'a', 'r', 'u', 'n']
['Tarun', 'tomar', 'a', 'r', 'u']
1
1
['Tarun', 'a', 'r', 'tomar', 'u']
['u', 'tomar', 'r', 'a', 'Tarun']
[]

Iteration in list

In [35]:
num=[1,2,3,4,5,6,7,8,9,0]

for i in num:
  print(i)

1
2
3
4
5
6
7
8
9
0

Itereating with index

In [36]:
num=[1,2,3,4,5,6,7,8,9,0]

for index,i in enumerate(num):
  print(index,i)

for i in range(10):
  num.append(i**2)

print(num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 0
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

List Comprehension
basic syantax:- [expression for item in iterable]

In [37]:
num=[]
for i in range(10):
  num.append(i**2)
print(num)


square=[i**2 for i in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

with conditional logic:-[expression for item in iterable if condition]

In [38]:
lst=[]
for i in range(10):
  if i%2==0:
    lst.append(i)
print(lst)

##this is list comprehension
even_num=[i for i in range(10) if i%2==0]
print(even_num)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

NESTED LIST COMPREHENSION:-[expression for item1 in itereable for item2 in itereable2]

In [39]:
lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

list comprehension with function calls

In [40]:
words=["hello","word","python","list"]
lengts=[len(word) for word in words]
print(lengts)

[5, 4, 6, 4]

In [41]:
l=[2,3,4,32,23,35,35,4,567,35,432,2]
print(type(l))
print(l[1:3:2])
l.sort()
print(l)
l.append(100000)
print(l)
l.reverse()
print(l)
print(l.count(35))
print(l.index(23))

<class 'list'>
[3]
[2, 2, 3, 4, 4, 23, 32, 35, 35, 35, 432, 567]
[2, 2, 3, 4, 4, 23, 32, 35, 35, 35, 432, 567, 100000]
[100000, 567, 432, 35, 35, 35, 32, 23, 4, 4, 3, 2, 2]
3
7

In [50]:
a="heywhatsup"

print(a,sep="~",end="*")

heywhatsup*

** all about tuples **
Tuple is an ordered, immutable, and indexed collection that can store multiple items of different data types in a single variable, allowing duplicates, and is defined using parentheses ().

In [ ]:
tuple=()
print(type(tuple))

tuples are immutable,but if you wanna change it,u just have to convert this first into list

In [1]:
tup=('tarun',21,6.2)
convert=list(tup)
print(convert)
convert.append("tomar")
tup=tuple(convert)
print(convert)

['tarun', 21, 6.2]
['tarun', 21, 6.2, 'tomar']

In [2]:
num=(0,1,2,3,4,5,1,1,1,6)
print(num)
print(num[0])

num[0:4]

num[::-1]

print(num.count(1))
print(num.index(1)) ##first occurance

(0, 1, 2, 3, 4, 5, 1, 1, 1, 6)
0
4
1

packing and unpacking

In [3]:
##packing
pack_tuple=1,"hello",3.14
print(pack_tuple)

(1, 'hello', 3.14)

In [4]:
##unpacking
a,b,c=pack_tuple
print(a)
print(b)
print(c)

1
hello
3.14

In [5]:
##unpacking with *
num=(1,2,3,4,5,6)
first,*middle,last=num
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

tuple concatination

In [6]:
num=(1,2,3,4,5,6)
mix_tuple=("Tarun",21,6.2)
concatination=num+mix_tuple
print(concatination)

(1, 2, 3, 4, 5, 6, 'Tarun', 21, 6.2)

In [7]:
mix_tuple*3

('Tarun', 21, 6.2, 'Tarun', 21, 6.2, 'Tarun', 21, 6.2)

In [8]:
num*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

Nested tupe & Nested tuple

In [9]:
lst=[[1,2,3,4,5],[6,7,8,9],(1,"hello",3.14)]
lst[0][0:3]

[1, 2, 3]

In [10]:
tup=((1,2,3),("a","b","c"),(True,False))

print(tup[0])
print(tup[1][2])

(1, 2, 3)
c

** all about set **
Set is an unordered, mutable, and unindexed collection that stores only unique items of different data types in a single variable, does not allow duplicates, and is defined using curly brackets {}.

In [11]:
st={1,2,3,4,5,6}
print(st)
print(type(st))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [12]:
# st.remove(3)
# print(st)

st.discard(19) ## agar wo number nahi hoga tab bhi koi problem nahi hai error show nahi hoga unlike remvoe
print(st)

st.clear()## clear all the element
print(st)

{1, 2, 3, 4, 5, 6}
set()

set membership test

In [13]:
my_set={1,2,3,4,5}
print(1 in my_set)
print(6 in my_set)

True
False

mathmatical operation

In [14]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1.symmetric_difference(set2))
print(set1.isdisjoint(set2))
print(set1.issubset(set2))
print(set1.issuperset(set2))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
False
False
False

remove duplicate in list

In [15]:
lst=[1,2,3,4,5,5,6,3]
print(set(lst))

{1, 2, 3, 4, 5, 6}

counting unique words in text

In [16]:
text="hey whassup writing this code at sunday midday "
words=text.split()
print(words)
unique_words=set(words)
print(unique_words)
print(len(unique_words))

['hey', 'whassup', 'writing', 'this', 'code', 'at', 'sunday', 'midday']
{'code', 'sunday', 'whassup', 'at', 'writing', 'midday', 'hey', 'this'}
8

** all about Dictionaries **
Dictionary is an ordered, mutable, and indexed collection that stores data in key-value pairs, does not allow duplicate keys, and is defined using curly brackets {}.

In [17]:
dic={}
print(type(dic))

<class 'dict'>

In [18]:
dic=dict()
print(type(dic))

<class 'dict'>

In [19]:
dic={"name":"tarun","age":21,"height":6.2}
print(dic)
print(dic["name"])
print(dic.get("age")) ## accessing using get()
print(dic.get("last_name","not available"))## now here last_name key doesnt exist so the provide value get print

{'name': 'tarun', 'age': 21, 'height': 6.2}
tarun
21
not available

iterating over dic,keys,values, or items

In [20]:
for keys in dic.keys(): ##keys
  print(keys)

name
age
height

In [21]:
for values in dic.values(): ##values
  print(values)

tarun
21
6.2

In [22]:
for keys,values in dic.items(): ##items
  print(f"{keys} = {values}")

name = tarun
age = 21
height = 6.2

Nested dic

In [23]:
students={
    "student1":{
        "name":"tarun",
        "age":21
    },
    "student2":{
        "name":"tomar",
        "age":22
}
}
print(students)

{'student1': {'name': 'tarun', 'age': 21}, 'student2': {'name': 'tomar', 'age': 22}}

Accessing nested dic

In [24]:
print(students["student1"])
print(students["student1"]["name"])
print(students["student2"]["age"])

{'name': 'tarun', 'age': 21}
tarun
22

iterating over nested dic

In [25]:
for student_id,student_info in students.items():
  print(f"{student_id}:{student_info}")
  for key,value in student_info.items():
    print(f"{key}:{value}")

student1:{'name': 'tarun', 'age': 21}
name:tarun
age:21
student2:{'name': 'tomar', 'age': 22}
name:tomar
age:22

Dictionary Comphrenhension

In [26]:
d = {}
for i in range(6):
    d[i] = i**2  ## store in memory like this:- {0: 0} :- {0: 0,1: 1}
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [27]:
squares={x:x**2 for x in range(6)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

condition dicitionary comprehension

In [28]:
evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

dictionary methods

In [29]:
print(dic.keys())
print(dic.values())
print(dic.items())

dict_keys(['name', 'age', 'height'])
dict_values(['tarun', 21, 6.2])
dict_items([('name', 'tarun'), ('age', 21), ('height', 6.2)])

shalow copy

In [30]:
print(dic)
dic2=dic.copy() ##different memory
print(dic2)
dic2["name"]="tarun"
print(dic2)
print(dic)

{'name': 'tarun', 'age': 21, 'height': 6.2}
{'name': 'tarun', 'age': 21, 'height': 6.2}
{'name': 'tarun', 'age': 21, 'height': 6.2}
{'name': 'tarun', 'age': 21, 'height': 6.2}

Modifying the dic element

In [31]:
print(dic)
dic["last_name"]="tomar" ##add a new key and value
print(dic)
dic["name"]="tarun tomar" ##replace
print(dic)

del dic["age"] ##delete a key and value
print(dic)

{'name': 'tarun', 'age': 21, 'height': 6.2}
{'name': 'tarun', 'age': 21, 'height': 6.2, 'last_name': 'tomar'}
{'name': 'tarun tomar', 'age': 21, 'height': 6.2, 'last_name': 'tomar'}
{'name': 'tarun tomar', 'height': 6.2, 'last_name': 'tomar'}

use a dic to count the frequency of elements in list

In [32]:
num=[1,2,3,4,4,5,6,3,3,3]
freq={}

for i in num:
  if i in freq: ## this is how the counting actually working
    freq[i]+=1
  else:
    freq[i]=1
print(freq)

{1: 1, 2: 1, 3: 4, 4: 2, 5: 1, 6: 1}

merge 2 dic into one

In [33]:
dic1={"name":"tarun","age":21}
dic2={"height":6.2,"weight":80}
merge_dic={**dic1,**dic2}
print(merge_dic)

{'name': 'tarun', 'age': 21, 'height': 6.2, 'weight': 80}

** function hero**

In [34]:
def sum(a,b):
  """docstring""" ##use for function understanding for dev
  sum=a+b; 
  return sum
# a=int(input("Enter the number a : "))
# b=int(input("Enter the number b : "))
# sum(a,b)

print(sum(5,4))
print(sum.__doc__)##accesss of docstring

9
docstring

default parameters

In [35]:
def great(name="Guest"): ## the dafuault parameter
  print(f"hello {name} welcome to paradise")

great("tarun")
great() ##this is the default parameter where it get print

hello tarun welcome to paradise
hello Guest welcome to paradise

vairable length arguments
positional and keywords arguments

In [36]:
def print_num(*args): ##positional argument (all the arguments that given over calling time)
 for num in args:
  print(num)

print_num(1,2,3,4,5,"tarun")

1
2
3
4
5
tarun

In [37]:
def print_detail(**kwargs): ##keyword argument
  for i in kwargs.items():
    print(i)

print_detail(name="tarun",age=21,height=6.2)

('name', 'tarun')
('age', 21)
('height', 6.2)

In [38]:
def print_detail(**kwargs): ##keyword argument
  for i,j in kwargs.items():
    print(i)

print_detail(name="tarun",age=21,height=6.2)

name
age
height

In [39]:
def print_detail(**kwargs): ##keyword argument
  for i,j in kwargs.items():
    print(f"{i}:{j}")

print_detail(name="tarun",age=21,height=6.2)

name:tarun
age:21
height:6.2

combined positional and keyword arguments

In [40]:
def print_details(*args,**kwargs):
  for value in args:
    print(f"positional argument : {value}")

  for key,value in kwargs.items():
    print(f"keyword arguments = {key}:{value}")

print_details(1,2,3,4,5,"tarun",last_name="tomar",age=21)

positional argument : 1
positional argument : 2
positional argument : 3
positional argument : 4
positional argument : 5
positional argument : tarun
keyword arguments = last_name:tomar
keyword arguments = age:21

Example 1:temperature conversion

In [41]:
def convert_temp(temp,unit):
  """this function convert temp between celsius and fahrenheit"""
  if unit=="c":
    return (temp*9/5)+32
  elif unit=="f":
    return (temp-32)*5/9
  else:
    return None
print(convert_temp(32,"c"))

89.6

Example 2: password strength checker

In [42]:
def pass_strength(password):
  """this function check the strength of password"""
  if len(password)<8:
    return "weak"
  if not any(char.isdigit() for  char in password):
    return False
  if not any(char.isupper() for char in password):
    return False
  if not any(char.islower() for char in password):
    return False
  if not any(char in "!@#$%^&*()_+" for char in password):
    return False
  return True
pass_strength("Krisp@nto6113")

True

Example 3: Calculate the total cost of items in a shoping cart

In [43]:
def calculate_total(cart):
  total_cost=0
  for item in cart:
    total_cost+=item['price'] * item['quantity']

  return total_cost
cart=[
    {'name':"apple",'price':0.5,'quantity':3},
    {'name':"banana",'price':0.25,'quantity':2},
    {'name':"orange",'price':0.75,'quantity':1}
]


calculate_total(cart)

2.75

Example 4:Check if a string is palindrome

In [44]:
def is_palindrome(s):
  s=s.lower().replace(" ","")
  return s==s[::-1]
is_palindrome("racecar")

True

Lambda function
lambda function are small anonymous functions defined using lambda keyword.They can have any no of arguments but only one expression.They are commonly used for short operations or as arguments to higher-order functions.

In [45]:
# lambda arguments:expression

In [ ]:
addition =lambda a,b : a+b
print(type(addition))
print(addition(2,3))

In [46]:
num=lambda a,b:a>b
print(num(2,3))

False

map()-applies a function to all items in a list

In [47]:
numbers=[1,2,3,4,5,6]
def square(x):
  return x**2
square(2) ##insetad of one by one we can use map

4

In [48]:
numbers=[1,2,3,4,5,6]
map(lambda x:x**2,numbers)
list(map(lambda x:x**2,numbers)) ##here like this

[1, 4, 9, 16, 25, 36]

Map function
the map() function applies a given function to all items in an input list(or any other iterable) and returns a map object(an iterator).This is particularly useful for transforming data in a list comprehensively.

In [49]:
def square(x):
  return x*x
square(10)

100

In [50]:
numbers=[1,2,3,4,5,6]
list(map(square,numbers)) ##map(function_name,list_name)

[1, 4, 9, 16, 25, 36]

In [51]:
numbers=[1,2,3,4,5,6]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36]

map multiple iterable

In [52]:
num1=[1,2,3]
num2=[4,5,6]
add_num=list(map(lambda x,y:x+y,num1,num2))
print(add_num)

[5, 7, 9]

map() to convert a list of strings to integers

In [53]:
str_num1=['1','2','3']
int_num=list(map(int,str_num1)) ##int is function here
print(int_num)

[1, 2, 3]

inbuilt function

In [54]:
words=['apple','banana','orange']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'ORANGE']

In [55]:
lower_words=list(map(str.lower,words))
print(lower_words)

['apple', 'banana', 'orange']

Filter function
the filter() function constructs an iterator from elements of an iterable for which a function returns true. it is used to filter out items from a list (or any other iterable) based on a condition

In [56]:
def even(num):
  if num%2==0:
    return True
  else:
    return False

In [57]:
lst=[1,2,3,4,5,6,7,8,9]
filter(even,lst) ##filter(function_name,list_name)
list(filter(even,lst))

[2, 4, 6, 8]

In [58]:
words=['APPLE','banana','orange']
upper_word = list(filter(lambda x: x != x.upper(), words))
print(upper_word)

['banana', 'orange']

filter with a lambda function and multiple conditions

In [59]:
num=[1,2,3,4,5,6,7,8,9]
even_and_greater_than_5=list(filter(lambda x:x%2==0 and x>5,num))
print(even_and_greater_than_5)

[6, 8]

importing modules in python:Modules and Packages

In [60]:
import math
print(math.sqrt(16))
print(math.pi)

4.0
3.141592653589793

In [61]:
from math import sqrt,pi
print(sqrt(16))
print(pi)

4.0
3.141592653589793

** majedar chij **

In [62]:
import this
print(this)

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!
<module 'this' from '/opt/anaconda3/lib/python3.13/this.py'>

** factorial wala sawal **

In [63]:
def factorial(n):
  if(n==0 or n==1):
    return 1
  else :
    return n*factorial(n-1);

print(factorial(5))

120

** union **

In [64]:
s1={1,2,3}
s2={3,4,5}
print(s1.union(s2))
print(s1.update(s2))

{1, 2, 3, 4, 5}
None

In [ ]:
print("tarun")

In [65]:
a=int(input("Enter a number : "))
b=int(input("Enter b number : "))

print(a+b)
print(a-b)
print(a/b)
print(a*b)

46
0
1.0
529

** exception handling**

In [66]:
a=(input("enter the number : "))

try:
  print(a%2)

except Exception as e:
 print(e)

print("some important line of code")
print("this code is end here horry")

not all arguments converted during string formatting
some important line of code
this code is end here horry

In [67]:
a=(input("enter the number : "))

try:
  print(a%2)

except Exception as e:
 print("kuch toh galata likha hai babu moshaye")

print("some important line of code")
print("this code is end here horry")

kuch toh galata likha hai babu moshaye
some important line of code
this code is end here horry

In [68]:
a=(input("enter the number : "))

try:
  print(a%2)

except Exception as e:
 print("kuch toh galata likha hai babu moshaye")

finally:
  print("finally block")

print("some important line of code")
print("this code is end here horry")

kuch toh galata likha hai babu moshaye
finally block
some important line of code
this code is end here horry

In [69]:
try:
  index=int(input("Enter the number "))
  a=[6,3]
  print(a[index])

except ValueError:
  print("number dalna hai bhai")

except IndexError:
  print("out of index likha hai babu moshaye")

out of index likha hai babu moshaye

In [70]:
a=3
b=5
print("a")if a>b else  print("=") if a==b else print("b")

b

**Enumerate function **

In [71]:
num=[20,30,4320,3,23]
index=0
for i in num:
  print(i)
  if(index==3):
   print("tarun")
  index+=1

20
30
4320
3
tarun
23

In [72]:
num=[20,30,4320,3,23]
for index,i in enumerate(num):
  print(index,i)
  if(index==3):
   print("tarun")

0 20
1 30
2 4320
3 3
tarun
4 23