** all about List **
List is an ordered, mutable, and indexed collection that can store multiple items of different data types in a single variable, allowing duplicates, and is defined using square brackets []

In [ ]:
l=["Tarun",1,2.5,6,7,8]
print(type(l))
print(l[0:3:2])
l[1:]="tarun"
print(l)

l.insert(2,"tomar")##insert tomar at index 2
print(l)

l.remove("t") ##first occurance of the element
print(l)

l.pop() ##last element will be remove
print(l)

index=l.index("tomar")
print(index)

print(l.count("a"))

l.sort()
print(l) ## for sorting

l.reverse()## for reversing
print(l)

l.clear() ## for removing all the items present in the list
print(l)

Iteration in list

In [ ]:
num=[1,2,3,4,5,6,7,8,9,0]

for i in num:
  print(i)

Itereating with index

In [ ]:
num=[1,2,3,4,5,6,7,8,9,0]

for index,i in enumerate(num):
  print(index,i)

for i in range(10):
  num.append(i**2)

print(num)

List Comprehension
basic syantax:- [expression for item in iterable]

In [ ]:
num=[]
for i in range(10):
  num.append(i**2)
print(num)


square=[i**2 for i in range(10)]
print(square)

with conditional logic:-[expression for item in iterable if condition]

In [ ]:
lst=[]
for i in range(10):
  if i%2==0:
    lst.append(i)
print(lst)

##this is list comprehension
even_num=[i for i in range(10) if i%2==0]
print(even_num)

NESTED LIST COMPREHENSION:-[expression for item1 in itereable for item2 in itereable2]

In [ ]:
lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[[i,j] for i in lst1 for j in lst2]
print(pair)

list comprehension with function calls

In [ ]:
words=["hello","word","python","list"]
lengts=[len(word) for word in words]
print(lengts)

In [ ]:
l=[2,3,4,32,23,35,35,4,567,35,432,2]
print(type(l))
print(l[1:3:2])
l.sort()
print(l)
l.append(100000)
print(l)
l.reverse()
print(l)
print(l.count(35))
print(l.index(23))

remove duplicate in list

In [ ]:
lst=[1,2,3,4,5,5,6,3]
print(set(lst))

In [ ]:
a="heywhatsup"

print(a,sep="~",end="*")