Python is case sensitive language

In [ ]:
name="tarun"
Name="tarun tomar"
print(name)
print(Name)

Identation rule

In [ ]:
age=32
if(age>23):
  print(age) ##the space is came own is own is called identation

Line continuation

In [ ]:
total=1+2+3+4+5+\
4+5+6

print(total)

Multiple Statements on a single line

In [ ]:
x=5;y=10;z=x+y
print(z)

Semantics in Python

In [ ]:
##variable assignmet
age=21 ##kernel automatic detect that this is integer
name="tarun" ##same for this
type(age)
type(name)

Variables in Python

In [ ]:
#use to assign the value,string,boolean
age=21
name="tarun"
is_married=False
print("age:" ,age)
print(name)
print(is_married)

Data Types

In [ ]:
age=32 #int
name="tarun" #string
is_married=False #boolean
height=6.2 #float

TypeCasting

In [ ]:
result="hello"+str(5)
print(result)

Operator

In [ ]:
#1 Arithmatic Operator
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

#2 Comparison Operators
a=10
b=5
print(a==b)
print(a is b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

#3 Logical Operators
a=True
b=False
print(a and b)
print(a or b)
print(not a)

In [ ]:
a=3
b=4
print(a is b)
print(a==b)

Printing hello world

In [ ]:
print("hello world")

Sum

In [ ]:
a=input("Enter a number : ")
b=input("Enter seocnd number : ")
print(int (a)+int (b))

** Input **

In [ ]:
a=int(input("Enter a number : "))
print(a)